﻿@{
    ViewBag.Title = "Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Name</h3>
<h3>@ViewBag.Roles</h3>
<h3>@ViewBag.CurrentRole</h3>

<p>Use this area to provide additional information.</p>