﻿<form class="container">

    <h1 class="page-header">Add Agency</h1>

    <ul data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>

    <h4 class="ui dividing header blue">Main Info</h4>
    <div class="row form-group">
        <div class="col-sm-6 form-group">
            <label>Name</label>
            <input type="text" class="form-control" data-bind="value: model.name" placeholder="Name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Phone</label>
            <input type="text" class="form-control" data-bind="value: model.phone" placeholder="Phone">
        </div>
        <div class="col-sm-6 form-group">
            <label>Mobile</label>
            <input type="text" class="form-control" data-bind="value: model.altPhone" placeholder="Alt. Phone">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Email</label>
            <input type="text" class="form-control" data-bind="value: model.email" placeholder="Email">
        </div>
        <div class="col-sm-6 form-group">
            <label>Website</label>
            <input type="text" class="form-control" data-bind="value: model.website" placeholder="Website">
        </div>
    </div>

    <h4 class="ui dividing header blue">Address</h4>
    <div class="">
        <label>Address</label>
        <div class="row">
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" data-bind="value: model.address1" placeholder="Unit Number">
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" data-bind="value: model.address2" placeholder="Building name">
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" data-bind="value: model.address3" placeholder="Street name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" data-bind="value: model.city" placeholder="City">
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" data-bind="value: model.region" placeholder="State">
            </div>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" data-bind="value: model.postCode" placeholder="Pin code">
            </div>
        </div>
    </div>

    <div class="btn btn-primary" data-bind="click: save">Create</div>
</form>