﻿<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <i class="fa fa-exchange"></i>
                <span>Ocam</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- ko foreach: routesForCurrentRole -->
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, text: title"></a>
                </li>
                <!-- /ko -->
                <li class="dropdown" data-bind="visible: (showMenu() && currentRole() && (currentRole().toLowerCase() == 'agent'))">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Partner Agencies</a></li>
                        <li><a href="#">Agents Exchange</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Reports</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Admin</a></li>
                    </ul>
                </li>
                <li class="dropdown" data-bind="visible: (showMenu() && currentRole() && (currentRole().toLowerCase() == 'developer'))">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Reports</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Admin</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader" data-bind="css: { active: router.isNavigating }">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search" data-bind="submit:search">
                <div class="form-group">
                    <select class="form-control" data-bind="options: userRoles, value: currentRole">
                    </select>
                </div>
            </form>
        </div>
    </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>