<form class="container">

  <h1 class="page-header" data-bind="text: editMode() ? 'Edit contact' : 'Add new contact'">Add new contact</h1>

  <ul data-bind="foreach: errors, visible: errors().length" class="alert alert-danger list-unstyled">
    <li data-bind="text: $data"></li>
  </ul>

  <h4 class="ui dividing header blue">Personal Information</h4>
  <div class="row">
        <label class="col-sm-12">Name</label>
      <div class="col-sm-6 form-group">
          <input type="text" class="form-control" data-bind="value: model.firstName" placeholder="First Name">
      </div>
      <div class="col-sm-6 form-group">
          <input type="text" class="form-control" data-bind="value: model.lastName" placeholder="Last Name">
      </div>
  </div>
  <div class="row">
    <div class="col-sm-4 form-group">
        <label>Phone</label>
        <input type="text" class="form-control" data-bind="value: model.phone" placeholder="Phone">
    </div>
    <div class="col-sm-4 form-group">
        <label>Mobile</label>
        <input type="text" class="form-control" data-bind="value: model.mobile" placeholder="Mobile">
    </div>
    <div class="col-sm-4 form-group">
        <label>Email</label>
        <input type="text" class="form-control" data-bind="value: model.email" placeholder="Email">
    </div>
  </div>

  <h4 class="ui dividing header blue">Address</h4>
  <div class="">
    <label>Address</label>
    <div class="row">
      <div class="col-sm-4 form-group">
        <input type="text" class="form-control" data-bind="value: model.address1" placeholder="Unit Number">
      </div>
      <div class="col-sm-4 form-group">
        <input type="text" class="form-control" data-bind="value: model.address2" placeholder="Building name">
      </div>
      <div class="col-sm-4 form-group">
        <input type="text" class="form-control" data-bind="value: model.address3" placeholder="Street name">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group">
        <input type="text" class="form-control" data-bind="value: model.city" placeholder="City">
      </div>
      <div class="col-sm-4 form-group">
        <input type="text" class="form-control" data-bind="value: model.region" placeholder="State">
      </div>
      <div class="col-sm-4 form-group">
        <input type="text" class="form-control" data-bind="value: model.postCode" placeholder="Pin code">
      </div>
    </div>
  </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-bind="checked: model.isInternalUser">
            Is internal user?
        </label>
    </div>

  <div class="btn btn-primary" data-bind="click: save, text: editMode() ? 'Update Contact' : 'Create Contact'">Create Contact</div>
</form>