<div class="">

    <div class="modal-header">
        Select contacts
    </div>

    <div class="modal-body">
        <ul data-bind="foreach: list">
            <li class="item checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: selected" />
                    <span data-bind="text: name"></span>
                </label>
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: addSelectedContacts">
            Add selected
            <i class="checkmark icon"></i>
        </button>
    </div>

</div>