﻿<section>
    <h2 data-bind="text:displayName"></h2>
    <blockquote data-bind="text:description"></blockquote>
    <h3>Features</h3>
    <ul data-bind="foreach: features">
        <li data-bind="text:$data"></li>
    </ul>
    <div class="alert alert-success">
      <h4>Read Me Please</h4>
        Charts and graphs.
    </div>
</section>