﻿
@{
    ViewBag.Title = "Please confirm your email account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmationEmailSent</h2>

<div>
    <p>
        A confirmation email is sent to your account.
        Please click the link to verify your account before proceeding further.
    </p>
</div>