<form class="container">

    <h1>Add new activity</h1>

    <ul data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Title</label>
            <input type="text" class="form-control" data-bind="value: model.title" placeholder="Title">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Details</label>
            <textarea class="form-control" data-bind="value: model.description" placeholder="Details"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Type</label>
            <select class="form-control" id="type"
                    data-bind="options: activityTypes,
                    optionsText: 'caption',
                    optionsValue: 'id',
                    value: model.type"></select>
        </div>
    </div>

    <!--<div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='startDate'>
                    <input type='text' class="form-control" data-bind="value: model.startDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='endDate'>
                    <input type='text' class="form-control" data-bind="value: model.endDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row" id="#rangePicker"
         data-bind="datetimeRangePicker: {
         startElementSelector: '#rangeStartDate',
         endElementSelector: '#rangeEndDate',
         startObservable: model.startDate,
         endObservable: model.endDate}">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='rangeStartDate'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='rangeEndDate'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Scheduled for users</label>
            <select multiple="" class="form-control" id="users"
                    data-bind="options: usersLookup,
                    optionsText: 'name' ,
                    optionsValue: 'id' ,
                    selectedOptions: model.scheduledFor"></select>
        </div>

        <div class="col-sm-6 form-group">
            <label>Scheduled with</label>
            <a class="ui button compact" href="" data-bind="click: selectContactsToScheduledWith">Select contacts to schedule with...</a>
            <ul class="ui list" data-bind="foreach: model.scheduledWith">
                <li class="item">
                    <span data-bind="text: name"></span>
                    <a href="" data-bind="click: $parent.removeContact">remove</a>
                </li>
            </ul>
        </div>
    </div>

    <button class="btn btn-primary" data-bind="click: save">Save</button>

</form>