<section>

    <h1 class="page-header">
        <span>Activities</span>
        <a class="btn btn-default pull-right" href="#/activities/new">Add new</a>
    </h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: list">
            <tr>
                <td data-bind="text: title"></td>
                <td data-bind="text: startDate"></td>
                <td><a data-bind="attr: { href: '#/activities/' + id }">details</a></td>
            </tr>
        </tbody>
    </table>
    
</section>