<form class="container">

    <h1>Add new message</h1>

    <ul data-bind="foreach: errors">
        <li data-bind="text: $data"></li>
    </ul>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Title</label>
            <input type="text" class="form-control" data-bind="value: model.title" placeholder="Title">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label>Details</label>
            <textarea class="form-control" data-bind="value: model.body" placeholder="Details"></textarea>
        </div>
    </div>

    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <label>Valid from</label>
                <div class='input-group date' id='startDate'>
                    <input type='text' class="form-control" data-bind="value: model.startDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <label>Valid till</label>
                <div class='input-group date' id='endDate'>
                    <input type='text' class="form-control" data-bind="value: model.endDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 form-group">
            <label>Scheduled for users</label>
            <select multiple="" class="form-control" id="users"
                    data-bind="options: usersLookup,
                    optionsText: 'name' ,
                    optionsValue: 'id' ,
                    selectedOptions: model.scheduledFor"></select>
        </div>

        <div class="col-sm-6 form-group">
            <label>Scheduled with</label>
            <a class="ui button compact" href="" data-bind="click: selectContactsToScheduledWith">Select contacts to schedule with...</a>
            <ul class="ui list" data-bind="foreach: model.scheduledWith">
                <li class="item" data-bind="text: name"></li>
            </ul>
        </div>
    </div>

    <button class="btn btn-primary" data-bind="click: save">Save</button>

</form>