<section>

    <h1 class="page-header">
        <span>Messages</span>
        <a class="btn btn-default pull-right" href="#/messages/new">Add new</a>
    </h1>

    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: list">
        <tr>
            <td data-bind="text: title"></td>
            <td data-bind="text: body"></td>
            <td><a data-bind="attr: { href: '#/messages/' + id }">details</a></td>
        </tr>
    </tbody>
    </table>
    
</section>